.slotBtn {
    width: 23%;
    border: 1px solid #F4D7D0;
    border-radius: 0.5em;
    background-color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    padding: 1em 1.5em;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

button.slotBtn:hover {
    background-color: #1C4A2A !important;
    color: #FFFFFF !important;
}