.footer {
    background: var(--white, #FFFFFF);
    /* height: 4dvh; */
    height: 4em;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    border-top: 1px solid var(--border-button, #DEDEDE)
}

.copyright {
    font-size: 1em;
    line-height: 100%;
    /* letter-spacing: -1%; */
    text-align: center;
    vertical-align: middle;
    color: var(--muted-text, #8C8C8C);
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.contacts div {
    width: 1.5em;
    height: 1.5em;
    position: relative;
}

.contacts img {
    position: absolute;
    top: 4;
    left: 2;
}