.card {
    width: 18.75em;
    height: 31.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5em 1.65em;
    border-radius: 1em;
    border: 1px solid var(--border-card, #E0E8E0);
    background-color: #F8FCF9;
    box-sizing: border-box;
    position: relative;
}

.cardDetail {
    height: 310;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}

.imageFrame {
    width: 9.375em;
    height: 9.375em;
    border-radius: 99px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12em;
    /* position: relative; */

}

.name {
    /* height: 33px; */
    /* position: absolute; */
    /* top: 2px; */
    /* left: 16.5; */
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 150%;
    /* letter-spacing: -1%; */
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    word-break: keep-all;
}

.additional {
    /* position: absolute;
    height: 42;
    top: 36px; */
    /* left: 24.5px; */
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.addFrame {
    gap: 5px;
    display: inherit;
    justify-content: space-between;
    align-items: center;
}

.addFrame>span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1em;
    line-height: 180%;
    word-break:keep-all;
    white-space: nowrap;
    /* letter-spacing: -1%; */
    vertical-align: middle;
    color: #8C8C8C;
}

.review {
    width: 100%;
    /* height: 42; */
    /* gap: 15px; */
    padding: 0.625em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewFrame {
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewFrame>span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1em;
    line-height: 180%;
    /* letter-spacing: -1%; */
    vertical-align: middle;
    color: #8C8C8C;
}

.starFrame {
    width: 107.5;
    height: 17.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5;
}

.cardButton {
    gap: 16px;
    padding: 1.5em 3em;
    border-radius: 0.5em;
    border-width: 1px;
    border: 1px solid var(--border-button, #DEDEDE);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background: none;
}

.buttonText{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 100%;
    /* letter-spacing: -1%; */
    vertical-align: middle;
    color: #0E2515;
}