#FilterSection {
    width: 440;
    height: 304;
    border-width: 1px;
    background-color: #FBFBFB;
    border: Mixed solid #E0E8E0;
    border-radius: 16px;
    position: relative;
}

#FilterContent {
    position: absolute;
    width: 186;
    top: 24px;
    left: 24px;
    gap: 24px;
    display: flex;
    flex-flow: column;
}

#FilterContent>span {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000000;
}

#ListFrame {
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.radioButton {
    display: flex;
    gap: spacing-md;
    align-items: center;
}

.radioButton>input {
    width: 18;
    height: 18;
    border-radius: 8999.1px;
    border-width: 0.9px;
    accent-color: #1C4A2A;
    border: 0.9px solid #1C4A2A;
}

.radioButton>input:checked {
    color:#1C4A2A;
    border: 0.9px solid #1C4A2A;
}

.radioButton>label {
    font-family: Montserrat;
    font-weight: 600;
    font-size: Typography/Font/Size/Sm;
    line-height: Typography/Font/Line Height/3Xsm 2;
    letter-spacing: Typography/Font/Letter Spacing/LS4;
    color: #0D0C0D;
}