.container {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.container button {
    padding: 0.75em 2em;
    border-radius: 0.5em;
    font-size: 1em;
    line-height: 100%;
    /* letter-spacing: -1em; */
    vertical-align: middle;
    text-align: center;
    font-style: inherit;
    font-family: inherit;
}

.loginButton {
    border: 1px solid #E0E8E0;
    background-color: white;
    color: #0E2515;
    cursor: pointer;
    box-sizing: border-box;
}

.registerButton {
    background-color: #1C4A2A;
    cursor: pointer;
    color: white;
    border: none;
    box-sizing: border-box;
}

@media screen and (max-width:950px) {
    .container {
        gap: 1.5vw;
    }
}

@media screen and (max-width:900px) {
    .container {
        gap: 1vw;
    }
}

@media screen and (max-width:820px) {
    .container {
        gap: 0.5vw;
    }

    .container button {
        padding: 0.75em 1.75em;
    }
}

@media screen and (max-width:800px) {
    .container button {
        padding: 0.75em 1.5em;
    }
}

@media screen and (max-width:768px){
    .container{
        flex-direction: column;
        background-color: #8c8c8c91;
        border-bottom-left-radius: 0.75em;
        border-bottom-right-radius: 0.75em;
        width: 100%;
        display:none;
    }
}