.container {
    width: 100%;
}

.searchField {
    box-sizing: border-box;
    width: 100%;
    gap: 40px;
    padding: 48px 24px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px 0px #0000001A;
    background-color: #ffffff;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.searchField span {
    color: #0E2515;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1%;
    vertical-align: middle;
}

.searchDetails {
    width: 1316;
    display: flex;
    /* justify-content: space-between; */
}

.frame1 {
    display: flex;
    gap: 16px;
    width: 1165;
}

.frame2 {
    width: inherit;
    display: flex;
    gap: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 1px;
    padding: 24px;
    background-color: #FFFFFF;
    border: 1px solid #374957
}

.frame2>div {
    display: flex;
    justify-content: space-between;
    gap: 12;
}

.vectorFrame {
    width: 20;
    height: 20;
}

.vectorFrame img {
    top: -0.03px;
    left: -0.03px;
    color: #374957;
}

.frame2 input {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    vertical-align: middle;
    color: #AFAFAF;
    background: none;
    border: none;
    field-sizing: content;
    max-width: 1100px;
}

.frame2 input:focus {
    outline: none;
}

.searchBtn {
    padding: 24 48;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1C4A2A;
    cursor: pointer;
}

.searchBtn span {
    display: flex;
    gap: 12;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    vertical-align: middle;
    color: #FFFFFF;
}

.donateSection {
    padding: 120 60 44;
    display: flex;
    gap: 48;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.donateTitle {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
    vertical-align: middle;
    letter-spacing: -1%;
    font-family: Montserrat;
    font-weight: 500;
}

.donateTitle span {
    font-size: 60px;
    line-height: 150%;
    color: #0E2515;
}

.donateTitle div {
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #8C8C8C;
}

.donateFooter {
    display: flex;
    justify-content: center;
    padding: 27px 0px;
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    padding: 8px;
}

.pageArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border-radius: 6px;
    padding: 12px;
}

.pageArrow div {
    width: 16;
    height: 16;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageArrow img {
    color: #8C8C8C;
}

.pageArrow span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #8C8C8C;
}

.donateContent {
    height: 1048;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.donateContent aside {
    display: flex;
    flex-direction: column;
}

.asideTop {
    display: flex;
    justify-content: space-between;
}

.asideContent {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.asideContent > div{
    width: 440;
    height: 304;
    border-width: 1px;
    background-color: #FBFBFB;
    border: Mixed solid #E0E8E0;
}

.doctorsContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}
.doctorsContent > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}