.container {
    width: 100%;
    min-height: 300px;
}

.searchField {
    box-sizing: border-box;
    width: 100%;
    gap: 2.5em;
    padding: 3em 1.5em;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px 0px #0000001A;
    background-color: #ffffff;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.searchField span {
    color: #0E2515;
    font-size: 2em;
    line-height: 100%;
    /* letter-spacing: -1%; */
    vertical-align: middle;
}

.donateSection {
    padding: 7.5em 3.75em 2.5em;
    display: flex;
    gap: 3em;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.donateTitle {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
    vertical-align: middle;
    /* letter-spacing: -1%; */
    font-family: Montserrat;
    font-weight: 500;
}

.donateTitle span {
    font-size: 3.8em;
    line-height: 150%;
    color: #0E2515;
}

.donateTitle div {
    font-size: 1.125em;
    line-height: 180%;
    text-align: center;
    color: #8C8C8C;
}

.donateFooter {
    display: flex;
    justify-content: center;
    padding: 1.7em 0px;
    gap: 0.5em;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border-radius: 6px;
    padding: 0.5em;
}

.pageArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border-radius: 6px;
    padding: 0.75em;
}

.pageArrow div {
    width: 16;
    height: 16;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageArrow img {
    color: #8C8C8C;
}

.pageArrow span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1em;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8C8C;
}

.donateContent {
    /* height: 1048; */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 1.3em;
}

#donateAside {
    flex: 0.85;
    display: flex;
    flex-flow: column;
    gap: 1em;
    align-items: stretch;
    position: relative;
}

#donateAsideTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#donateAsideTop>span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 100%;
    /* letter-spacing: -1%; */
    vertical-align: middle;
    color: #0E2515;
}

#donateAsideTop>button {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 100%;
    /* letter-spacing: -1%; */
    text-align: right;
    vertical-align: middle;
    color: #1C4A2A;
    border: none;
    background:none;
    padding: 0;
}

#donateAside>aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

#doctorsContent {
    flex:2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 2.5em 0.5em;
}

/* .donateContent>button {
    top: 3px;
    left: 387px;
    position: absolute;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: right;
    vertical-align: middle;
    color: #1C4A2A;
    outline: none;
    border: none;
    background-color: red;
} */