.container {
    width: 100%;
    min-height: 300px;
    /* overflow: hidden; */
}

.searchField {
    box-sizing: border-box;
    width: 100%;
    gap: 2.5em;
    padding: 3em 1.5em;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px 0px #0000001A;
    background-color: #ffffff;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.searchField span {
    color: #0E2515;
    font-size: 2em;
    line-height: 100%;
    /* letter-spacing: -1%; */
    vertical-align: middle;
}

.donateSection {
    padding: 120 60 44;
    display: flex;
    gap: 48;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.donateTitle {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
    vertical-align: middle;
    letter-spacing: -1%;
    font-family: Montserrat;
    font-weight: 500;
}

.donateTitle span {
    font-size: 60px;
    line-height: 150%;
    color: #0E2515;
}

.donateTitle div {
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #8C8C8C;
}

.donateFooter {
    display: flex;
    justify-content: center;
    padding: 27px 0px;
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    padding: 8px;
}

.pageArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border-radius: 6px;
    padding: 12px;
}

.pageArrow div {
    width: 16;
    height: 16;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageArrow img {
    color: #8C8C8C;
}

.pageArrow span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #8C8C8C;
}

.donateContent {
    height: 1048;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 20px;
}

#donateAside {
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: stretch;
    width: 440;
    position: relative;
}

#donateAsideTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#donateAsideTop>span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    vertical-align: middle;
    color: #0E2515;
}

#donateAsideTop>button {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: right;
    vertical-align: middle;
    color: #1C4A2A;
    border: none;
    background:none;
}

#donateAside>aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#doctorsContent {
    width: 932;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 16px;
}

.doctorsContent>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}


.donateContent>button {
    top: 3px;
    left: 387px;
    position: absolute;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: right;
    vertical-align: middle;
    color: #1C4A2A;
    outline: none;
    border: none;
    background: none;
}