.container {
    width: 100%;
    display: flex;
    gap: 40px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: center;
    vertical-align: middle;
}

.defaultLink {
    font-size: 18px;
    color: #8C8C8C;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.currentPageLink, .defaultLink:hover{
    font-size: 18px;
    color: #1C4A2A;
    font-weight: bold;
    text-decoration: none;
}
