.html{
    margin: 0px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: column;
    height: fit-content;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    justify-content: space-between;
}

.body{
    margin: 0px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow-x: hidden;
    /* overflow-y: auto; */
    height: fit-content;
    min-height: 100dvh;
}
