.main{
    width:100%;
    min-height: calc(100dvh - 12dvh);
    display: flex;
    flex-wrap: wrap;
    position:relative;
    z-index: 0;
}

.section1{
    flex: 1;
    min-width: 300px;
    background-color: #1C4A2A;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.titleBox{
    width: 80%;
    /* height: 35%; */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.3em;
    /* letter-spacing: -1%; */
    vertical-align: middle;
}

.titleHead > p{
    width: 10em;
    height: 3em;
    font-size: 3.5em;
    line-height: 150%;
    color:white;
    margin:0;
}


.titleContent>p{
    margin:0;
    width: 30em;
    height: 6em;
    font-size: 1em;
    line-height: 180%;
    color: #FFFFFFB2;
}

.section2{
    flex: 1;
    min-width: 300px;
    background-color: #D9D9D9;
    position: relative;
    overflow: hidden;
}
.heroImg {
    overflow: hidden;
    /* position: absolute; */
    min-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* top: -0.05px;
    left: -290px; */
}

.searchField{
    /* margin-top: 40px; */
    width: 80%;
    border-radius: 1em;
    padding: 2em 0;
    gap: 1em;
    color:#FFFFFF00;
    /* left: -200px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* position: relative; */
}

.searchDetails{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.searchField button{
    padding: 1em 2.65em;
    gap:16px;
    border-radius: 0.5em;
    text-align: center;
    vertical-align: middle;
    /* letter-spacing: -1%; */
    line-height: 100%;
    font-size: 1em;
    color: #1C4A2A;
    font-family: inherit;
    cursor: pointer;
}


