.container{
    padding: 36px 5vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 80px;
    width: 100%;
}

.HeadLink{
    display: flex;
    gap:48px;
    align-items: center;
}