#container {
    width: 100%;
    height: 911px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0px;
    align-items: stretch;
    position: relative;
    /* flex-grow: 1; */
}

.section1 {
    flex: 1;
    background-color: #1C4A2A;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.title {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: fit-content;
    width: fit-content;
    top: 126px;
}

.titleHead {
    width: 585px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 60px;
    line-height: 150%;
    letter-spacing: -1%;
    vertical-align: middle;
    color: #FFFFFF;
}

.titleContent {
    width: 498px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: -1%;
    vertical-align: middle;
    color: #FFFFFFB2;
}

.section2 {
   flex: 1;
    background-color: #D9D9D9;
    overflow: hidden;
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    z-index: -2;
}

#bgImgWrapper{
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bgImgWrapper > img{
    width: 100%;
    height: 100%;
}

.bookBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}