#container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0px;
    align-items: stretch;
    flex-grow: 1;
    /* padding-bottom: 5em; */
}

.section1 {
    height: auto;
    flex: 1;
    background-color: #1C4A2A;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.title {
    margin-top: 3em;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    height: fit-content;
    width: fit-content;
    /* top: 126px; */
}

.titleHead {
    width: 10em;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 4em;
    line-height: 150%;
    /* letter-spacing: -1%; */
    vertical-align: middle;
    color: #FFFFFF;
}

.titleContent {
    width: 28em;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.15em;
    line-height: 180%;
    /* letter-spacing: -1%; */
    vertical-align: middle;
    color: #FFFFFFB2;
}

.section2 {
    flex: 1;
    background-color: #D9D9D9;
    /* background-image: url('/bookBG-crop.png'); */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
}

/* #bgImgWrapper{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
*/
#bgImgWrapper > img{
    width: 100%;
    height: 100%;
    z-index: -1;
}


.bookBox{
    z-index: 1; /* Ensure BookingBox is above the background */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}